@{
    ViewBag.Title = "Error";
}
<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">Error occured</h2>
    <p class="text-red">@ViewBag.ErrorMessage</p>
    <img src="~/error.svg" width="500px" style="margin-top:100px" />
</div>